main {
    background: bisque;
}

a {
    color: crimson;
}

.avatar {
    filter: grayscale(100%);
    vertical-align: middle;
    width: 100px;
    height: auto;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
}

.avatar:hover {
    filter: none;
    transition: 0.4s ease-in-out;
}

.instagram:hover {
    color: dimgrey;
    transition:  0.2s ease-in-out;
}

.linkedin:hover {
    color: dimgrey;
    transition: color 0.2s ease-in-out;
}

#skills li:before {
    list-style-type: none;
    content: none;
}
#skills h4 {
    font-size: 12px;
    margin-left: -1em;
    letter-spacing: 0.25em;
    margin-bottom: 2px;
    margin-top: 10px;
    text-transform: uppercase;
}

#skills h4:after {
    content: ':';
    font-size: 12px;
}
span.skill {
    text-transform: uppercase;
    font-weight: bold;
}

span.skill-level, span.language-level{
    font-style: italic;
    text-transform: uppercase;
}


