.avatar {
    filter: grayscale(100%);
    vertical-align: middle;
    width: 100px;
    height: auto;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
}

.avatar:hover {
    filter: none;
    transition: 0.4s ease-in-out;
}

.instagram:hover {
    color: dimgrey;
    transition:  0.2s ease-in-out;
}

.linkedin:hover {
    color: dimgrey;
    transition: color 0.2s ease-in-out;
}